<p>Bonjour <%= client.firstName %></p>
<p>Bienvenue sur Train Booking Corp.</p>
<p>
    Pour activer votre compte, veuillez cliquer sur le lien
    <a href="<%= baseUrl %>/client/activate/<%= token %>"><%= baseUrl %>/client/activation/<%= token %></a>
</p>
