<p>Bonjour <%= client.firstName %></p>
<p>Vous avez effectué une réservation avec la référence <%= booking.reference %></p>
<p>Les détails des tickets sont:</p>
<table style="border-style: ridge; border: #474747; padding: 5px; border-collapse: collapse">
    <thead>
        <tr>
            <th style="border: solid 1px #474747; padding: 5px">Référence ticket</th>
            <th style="border: solid 1px #474747; padding: 5px">Prix</th>
            <th style="border: solid 1px #474747; padding: 5px">Train</th>
            <th style="border: solid 1px #474747; padding: 5px">Siège</th>
            <th style="border: solid 1px #474747; padding: 5px">Départ</th>
            <th style="border: solid 1px #474747; padding: 5px">Arrivée</th>
        </tr>
    </thead>
    <tbody></tbody>
    <% booking.tickets.forEach((ticket) => {%>
    <tr>
        <td style="border: solid 1px #474747; padding: 5px"><%= ticket.reference %></td>
        <td style="border: solid 1px #474747; padding: 5px"><%= ticket.price %> €</td>
        <td style="border: solid 1px #474747; padding: 5px"><%= ticket.trainRide.train.name %></td>
        <td style="border: solid 1px #474747; padding: 5px"><%= ticket.seat.reference %> (<%= ticket.seat.type %>)</td>
        <td style="border: solid 1px #474747; padding: 5px">
            <%= ticket.trainRide.from %>(<%= formatDate(ticket.trainRide.departure) %>)
        </td>
        <td style="border: solid 1px #474747; padding: 5px">
            <%= ticket.trainRide.to %>(<%= formatDate(ticket.trainRide.arrival) %>)
        </td>
    </tr>
    <%})%>
</table>
